{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["react", "react-hooks", "@typescript-eslint", "prettier"],
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"react-app",
		"prettier"
	],
	"settings": {
		"react": {
			"pragma": "React",
			"version": "detect"
		},
		"import/external-module-folders": ["node_modules"],
		"import/resolver": {
			"node": {
				"extensions": [".ts", ".tsx", ".js", ".jsx"],
				"moduleDirectory": ["node_modules", "src/"]
			}
		}
	},
	"rules": {
		"@typescript-eslint/ban-types": 0,
		"@typescript-eslint/explicit-function-return-type": 0,
		"@typescript-eslint/explicit-module-boundary-types": 0,
		"@typescript-eslint/no-explicit-any": 0,
		"@typescript-eslint/no-var-requires": 0,
		"@typescript-eslint/ban-ts-comment": 0,
		"@typescript-eslint/no-non-null-assertion": 0,
		"@typescript-eslint/no-empty-function": 0,
		// We are using React 17 so we can disable this rules
		"react/prop-types": 0,
		"react/display-name": 0,
		"react/jsx-uses-react": "off",
		"react/react-in-jsx-scope": "off",
		// Make prettier code formatting suggestions more verbose.
		"prettier/prettier": [
			"error",
			{},
			{
				"usePrettierrc": true
			}
		]
	}
}
